# Flutter/Dart/Pub
.dart_tool/
.packages
.pub-cache/
.pub/
build/
flutter_*.png
*.flutter-plugins
*.flutter-plugins-dependencies
generated_plugin_registrant.dart

# Symbolication
app.*.symbols

# Obfuscation
app.*.map.json

# Coverage
coverage/

# Android
**/android/**/gradle-wrapper.jar
**/android/.gradle/
**/android/captures/
**/android/gradlew
**/android/gradlew.bat
**/android/local.properties
**/android/**/GeneratedPluginRegistrant.java
**/android/key.properties

# iOS / macOS
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/ephemeral/
**/ios/Podfile.lock
**/ios/Pods/
**/ios/.symlinks/
**/ios/profile
**/ios/xcuserdata/
**/ios/Runner/GeneratedPluginRegistrant.*
**/macos/Flutter/GeneratedPluginRegistrant.swift
**/macos/Flutter/ephemeral/
**/macos/Pods/
**/macos/Podfile.lock
**/macos/.symlinks/
**/macos/xcuserdata/

# Windows
**/windows/flutter/ephemeral/

# Linux
**/linux/flutter/ephemeral/

# Web
lib/generated_plugin_registrant.dart

# IDE / Editor
.idea/
*.iml
*.ipr
*.iws
.vscode/
*.swp
*.swo

# Misc
*.log
*.tmp
*.DS_Store

# Firebase
google-services.json
GoogleService-Info.plist
firebase_app_id_file.json
